/* https://colorhunt.co/palette/001e6c035397e8630afcd900*/
/*renk linki*/
.active {
    color: white !important;
    font-weight: 700;
    font-size: 110%;
    text-underline-offset: 0.5rem;
    text-decoration: underline  black solid 2px;
}
.navbar{
    background-color: #E8630A !important;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
footer a{
    text-decoration: none !important;
    color: white;
}
footer a:hover{
    color: #E8630A;
}
footer li{
    list-style: none !important;
}
.social-list li{
    margin-bottom: 1% !important ;
}
.footer_ul_amrcli li{
margin-bottom: 2% !important;
}