/* https://colorhunt.co/palette/001e6c035397e8630afcd900*/
/*renk linki*/
.active {
    color: white !important;
    font-weight: 700;
    font-size: 110%;
}
.navbar{
    background-color: #E8630A !important;
}
